/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2020, 15:43:59
    Author     : phily
*/

/*@import url('https://fonts.googleapis.com/css2?family=Actor&family=Anton&family=Arima+Madurai&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Anton&family=Arima+Madurai&family=Bree+Serif&display=swap');


body{
    font-family: Helvetica;
    font-size: 20px;
}

table{
    text-align: left;    
}

h1{
    font-family: Anton;    
    font-weight: bold;
}
h2{
    font-family: 'Bree Serif';            
}

h3{
    font-family: Actor;    
}

h4{
    font-family: 'Arima Madurai';
    font-weight: bold;
}

#datosUsuario{
    height: 25px;    
}

#acciones{/*hay que cambiarlo a submit para estandarizar...*/
    height: 50px;
    text-align: center;     
}

#subtitulo{
    position: relative;
    left: -250px;  
}

#submit{
    width: 220px;
    height: 55px;         
}


