/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2020, 15:09:42
    Author     : phily
*/

.button:hover{
/*    transition-duration: 0.3s; */
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 15px 35px 0 rgba(0,0,0,0.19);
    /*background-color: gainsboro;  
    border-radius: 10px;*/
}

#opciones{    
    /*cursor: pointer;mejor no xD*/
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;     
    font-size: 20px;    
    font-family: Georgia;
}

#menuGerente{
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
   /* background: #0f0c29; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    /*background: #757F9A;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 75px;
}

#menuCajero{
    background: #00467F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*prueba xD, sino el de abajito está muy bien, lo que pasa es que no se miraba l cambio entre caj y ger...*/
    
    /*background: #136a8a; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #136a8a, #267871); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #136a8a, #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /*background: #2b5876; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #2b5876, #4e4376); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    /*background: #5f2c82;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 75px;
}

#perfil{
    float: right;    
}

#frameGerente{/*lo pongo aquí y no el css del gerente, porque es de la página principal, que también tiene cajero, a su manera, pero la posee xD*/   
    width: 1900px;
    height: 800px;/*por si colocas el logo al pie... sino pon 830 xD así no se pasa xD*/
    border: none;        
}



